    <div id="order_lines">
	    <%= f.simple_fields_for :order_lines do |ol| %>
	    	<%= render 'order_line_fields', f: ol %>
	    <% end %>
	    
	    <div class="links">
	    	<%= link_to_add_association 'Add Order Line', f, :order_lines, class: "btn btn-success" %>
	    </div>
    </div>
    <br><br>
    <%= f.input :is_discounted, as: :select, include_blank: false, label: "Apply Senior Discount (20%)?" %>